.headOfPage {
    display: flex;
    .filter {
        padding: 2em;
        width: fit-content;
        border: 1px dotted #000;
        margin: 1em;
    }
    .contactOfCard {
        padding: 2em;
        border: 1px dotted #000;
        width: fit-content;
        margin: 1em;
        hr {
            border: 1px dotted ;
        }
    }
    .categories {
        padding: 2em;
        border: 1px dotted #000;
        margin: 1em;
    }
    .Product_p {
        padding: .5em;
    }
    .poster {
        padding: 2em;
        border: 1px dotted #000;
        width: fit-content;
        margin: 1em;
    }
    .Nav_tab {
        display: flex;
        width: 70vw;
        gap: 40em;
        padding: 2em;
        background: #f9f9f9;
        .Sort_viwe {
            display: flex;
            gap: 1em;
        }
    }
    svg {
        cursor: pointer;
    }
}
